*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgb(50, 135, 206),pink);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  border-radius: 2rem;
  opacity: 50%;
}
form button {
  color: rgba(246, 248, 250, 0.815);
  background: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rgb(50, 135, 206);
  color: rgba(229, 234, 236, 0.87);
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: #c25c98;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  opacity: 50%;
  border-radius: 2rem;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: pink;
  color: rgb(219, 63, 128);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2rem;
}
.complete-btn {
  background: 0;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  background-image: none;
  border-radius: 2rem;
  opacity: 50%;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color:rgb(50, 135, 206);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #e5ace9;
  cursor: pointer;
  pointer-events: none;
  border-radius: 2rem;
}


